{% assign cardProduct = product %}
{{ 'custom-product-card.css' | asset_url | stylesheet_tag }}

<div class="custom-product-card">
  <div class="custom-product-card--media">
    <div class="custom-product-card--featured-media">
      {% render 'responsive-picture', desktopImage: cardProduct.featured_image %}
    </div>
    <div class="custom-product-card--media-collection">
      {% for image in product.images %}
        <div>{% render 'responsive-picture', desktopImage: image.src %}</div>
      {% endfor %}
    </div>
  </div>
  <div class="custom-product-card--content">
    <h1>{{ product.title }}</h1>
    <p>{{ product.price | money }}</p>
    {% for variant in product.variants %}
      <p>{{ variant.title }}</p>
    {% endfor %}
    <a class="button">Add to cart</a>
    <a href="{{ product.url }}" class="button">Buy It now</a>
    <div id="usp-container"></div>
    <p>{{ product.description }}</p>
  </div>
</div>

<script>
    window.onload = append();
    function append(){
      fetch("/?section_id=template--14907459665984__usp_section_7dQ83b")
      .then(response=>response.text())
      .then((responseText) => {
          const html = new DOMParser().parseFromString(responseText,'text/html');
          const container = document.getElementById("usp-container");
          const content = html.querySelector("body")
          console.log(content);
          container.innerHTML = content.innerHTML;
      })
  }
</script>
