{{ "https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" | stylesheet_tag }}
<script src={{ "https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"}} defer></script>
{{ 'captivating-section.css' | asset_url | stylesheet_tag }}
<div id="captivating-slider" class="product-slider">
  <div><h1 class="captivating-section-heading">{{ section.settings.heading }}</h1></div>
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
            {% for block in section.blocks %}
                {% assign collection = block.settings.collection %}
                <li class="splide__slide captivating-splide-item">
                    <div class="captivating--image-container">
                        {% render 'responsive-picture',
                            desktopImage:  collection.image.src, 
                            mobileImage:  collection.image.src
                      
                        %}
                    </div>
                    <div class=captivating--content>
                        <div><a class="captivating-content--title">{{ block.settings.title }}</a></div>
                        <div>
                            <a class="button captivating-content--button" href:{{block.settings.ul}}>{{ block.settings.button_label }}</a>
                        </div>
                    </div>    
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>
</div>

<script defer src={{"https://cdn.jsdelivr.net/npm/@splidejs/splide/dist/js/splide.min.js"}}></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      var splideInstance = new Splide('#captivating-slider .splide', {
        type       : 'slide',
        perPage    : 5, 
        autoplay   : false,
        interval   : 3000, 
        gap        : 20, // Gap between slides
        pagination : false,
        perMove    : 1,
        breakpoints: {
          1000:{
            perPage:3
         },
          768: {
            perPage: 2
          },
          480: {
            perPage: 2
          }
        }
      }).mount();
    });
  </script>

{% schema %}
{
  "name": "captivating section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "captivating-block",
      "name": "captivating-block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "fashion"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "captivating section"
    }
  ]
}
{% endschema %}

