  <div class="product-card-container">
  {% for product in section.settings.product_list %}
    {% render
       "custom-product-card", product:product
    %}
    {% endfor %}
    {% comment %} <button class="generate">Generate</button> {% endcomment %}
    <div id="appendContainer"></div>
  </div>
  <script>
    let btn=document.querySelector(".generate");
    btn.addEventListener("click",()=>{
      console.log("clicked");
      append();
    });


    function append(){
      fetch("/?section_id=template--14907243724864__usp_section_7dQ83b")
      .then(response=>response.text())
      .then((responseText) => {
          const html = new DOMParser().parseFromString(responseText,'text/html');
          const container = document.getElementById("appendContainer");
          const content = html.querySelector("body")
          console.log(content);
          container.innerHTML = content.innerHTML;
      })
  }

  </script>
  {% schema %}
    {
      "name": "demo productcart section",
      "settings": [
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Product list"
        },
        {
          "type":"text",
          "id":"name",
          "label":"name"
        }
      ],
      "presets": [
        {
          "name": "demo productcart section"
        }
      ]
    }
  {% endschema %}

{% comment %} <script src="{{ 'tutorial-product-card.js' | asset_url }}" defer></script>
<script defer src="{{"splide.min.js" | asset_url}}"></script>
<link rel="stylesheet" href="{{ "splide.min.css" | asset_url }}">
<script src="{{ 'featured-custom-collection.js' | asset_url }}" defer></script>
{% assign products = section.settings.product_list %}

<div class="tutorial page-width">
  <h3 class="featured-custom-title">{{ section.settings.heading }}</h3>
  <ul class="grid gri">
    {% for product in products %}
      <li class="grid__item grid--4-col-desktop grid--3-col-tablet ">
        {% render 'tutorial-product-card', product: product %}
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
    "name": "Tutorial fc",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default" : "Heading"
        },
        {
            "type": "product_list",
            "id": "product_list",
            "label": "Select product"
        },
        {
          "type": "checkbox",
           "id": "show_view_all",
            "label": "Show view all"
        }
    ],
    "presets": [
        {
         "name": "Tutorial fc"
        }
    ]
}
{% endschema %} {% endcomment %}
