{{ 'letyou-know.css' | asset_url | stylesheet_tag }}
{% liquid
  assign autoPlay=section.settings.auto_play
  assign type = section.settings.Slide_animation
  assign pagination = section.settings.show_pagination
  assign perpage = section.settings.perpage
  assign gap = section.settings.gap
  assign tabletPerpage=section.settings.tablet-perpage
  assign mobilePerpage=section.settings.mobile-perpage
%}
{%- capture splide_option -%}
      {
          "type": "{{ type }}",
          "pagination": {{ pagination }},
          "perPage":{{ perpage }},
          "autoplay":{{ autoPlay }},
          "gap":{{gap}},
          "breakpoints" : {
            "900": {
              "perPage":  {{ tabletPerpage }}
            },
            "749": {
              "perPage": {{ mobilePerpage }}  
            } 
          }
      }
{% endcapture %}
<div class="letyou_know">
  {% assign blog = section.settings.blog %}
  <div class="letyou_know--heading_container">
    {% if section.settings.heading %}<h1>{{ section.settings.heading }}</h1>{% endif %}
    {% if blog.url %}
      <a href="{{ blog.url }}" class="button-slide-black">
        <span class="button-slide-label">Read all</span>
      </a>
  {% endif %}
  </div>
    <splider-component>
      <div class="splide" id="letyou-know-splid" data-slider-settings='{{ splide_option }}'>
        <div class="splide__track">
          <ul class="splide__list">
            {% for article in blog.articles %}
              <li class="splide__slide letyou_know--article ">
                {% if article.image %}
                  <div class="letyou_know-article--image_container">
                    {% render 'responsive-picture', desktopImage: article.image %}
                  </div>
                {% endif %}  
                <div class="letyou_know-article--content">
                  <div class="letyou_know-article-content--first">
                    {% if article.tags %}<p class="letyou_know-article-content-first--tags">{{ article.tags | join:"   " }}</p>{% endif %}
                    {% if article.title %}<p class="letyou_know-article-content-first--title">{{ article.title }}</p>{% endif %}
                    {% if article.author %}<p class="letyou_know-article-content-first--author">Published by:{{ article.author }}</p>{% endif %}
                    {% if article.excerpt %}<p class="letyou_know-article-content-first--excerpt">{{ article.excerpt }}</p>{% endif %}
                  </div>
                  <div class="letyou_know-article-content--second">
                    <a href="{{ article.url }}">Read more</a>
                    {% if article.published_at %}<p>{{ article.published_at | date: '%B %d, %Y' }}</p>{% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </splider-component>
  </div>
{% schema %}
{
  "name": "blog list section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
        "type": "blog",
        "label": "Blog ",
        "id": "blog"
    },
    {
        "type": "checkbox",
        "id":"auto_play",
        "label":"Enable auto play",
        "default":false
    },
    {
        "type": "checkbox",
        "id":"show_pagination",
        "label":"Show dots",
        "default":false
    },
    {
        "type": "checkbox",
        "id":"show_arrows",
        "label":"Show arrows",
        "default":false
    },
    {
        "type": "range",
        "id": "auto_play_duration",
        "min": 1000,
        "max": 5000,
        "step": 1000,
        "unit": "sec",
        "label": "Autoplay duration",
        "default": 2000
    },
    {
        "type": "range",
        "id": "perpage",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "Perpage",
        "default": 2
    },
    {
      "type": "range",
      "id": "tablet-perpage",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Tablet perpage",
      "default": 2
    },
    {
      "type": "range",
      "id": "mobile-perpage",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Mobile perpage",
      "default": 2
    },
    {
        "type": "range",
        "id": "gap",
        "min": 5,
        "max": 40,
        "step": 5,
        "label": "Gap",
        "default": 5
    },
    {
        "type": "select",
        "id": "Slide_animation",
        "label": "Slide animation",
        "options": [
            {
                "value": "fade",
                "label": "Fade"
            },
            {
                "value": "slide",
                "label": "Slide"
            },
            {
                "value": "loop",
                "label": "Loop"
            }
        ],
        "default": "slide"
    }
  ],
  "presets": [
    {
      "name": "blog list  Section"
    }
  ]
}
{% endschema %}
