{{ 'assignment.css' | asset_url | stylesheet_tag }}

{% assign product = section.settings.product %}
{% assign price=product.price | divided_by: 100  %}
<div class="main">
<div><h1 class="main-heading">{{ section.settings.heading }}</h1></div>
<div class="assignment">
  <div class="assignment--imageContainer half">
    
    {% render 'responsive-picture',
      desktopImage:  product.images[0].src, 
      mobileImage:  product.images[0].src

    %}

  </div>
  <div class="assignment--content half">
    <div><p class="assignment-content--vendor">{{ product.vendor }}</p></div>
    <div><h1>{{ product.title }}</h1></div>
    <div><p class="assignment-content--quantity">{{ section.settings.quantity }}</p></div>
    <div><p class="assignment-content--price">Price : {{price}}/-</p></div>
    <div><p class="assignment-content--discription"><span class="assignment-content-discription--span">How it works : </span>{{ product.description }}</p></div>
    <div class="button-div"><a class="assignment-content--button" href="{{ product.url }}">{{ section.settings.button_label }}</a></div>


  </div>
</div>
</div>
{% schema %}
{
  "name": "assignment section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Business Formal Choices"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
     {
      "type": "text",
      "id": "quantity",
      "label": "quantity",
      "default": "quantity"
     },
     {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "view product"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button url"
    }     
  ],
  "presets": [
    {
      "name": "assignment Section"
    }
  ]
}
{% endschema %}