{% style %}
    .custom-padding--{{ section.id }}{
        padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
        padding-bottom: {{ section.settings.padding_bottom | divided_by: 2  }}px;
    }
    @media screen and (min-width: 749px){
        .custom-section-padding--{{ section.id }}{
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<div class="week-6 page-width custom-section-padding--{{ section.id }}">
    <div>
        <h1>{{ section.settings.title }}</h1>
    </div>
</div>

{% schema %}
    {
        "name":"week-6",
        "tag":"section",
        "class":"Section",
        "settings":[
            {
                "type": "header",
                "content": "Testimonials"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Testimonials"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "description",
                "default": "describe"
            },
            {
                "type": "color_background",
                "id": "color-bg",
                "label": "Background"
            },
            {
                "type": "header",
                "content": "splider options"
            },
            {
                "type": "checkbox",
                "id":"auto_play",
                "label":"Enable auto play",
                "default":false
            },
            {
                "type": "checkbox",
                "id":"show_pagination",
                "label":"Show dots",
                "default":false
            },
            {
                "type": "checkbox",
                "id":"show_arrows",
                "label":"Show arrows",
                "default":false
            },
            {
                "type": "range",
                "id": "auto_play_duration",
                "min": 1000,
                "max": 5000,
                "step": 1000,
                "unit": "sec",
                "label": "Autoplay duration",
                "default": 2000
            },
            {
                "type": "range",
                "id": "perpage",
                "min": 1,
                "max": 4,
                "step": 1,
                "label": "perpage",
                "default": 2
            },
            {
                "type": "header",
                "content": "Animation options"
            },
            {
                "type": "select",
                "id": "Slide_animation",
                "label": "Slide animation",
                "options": [
                    {
                    "value": "fade",
                    "label": "Fade"
                    },
                    {
                        "value": "slide",
                        "label": "slide"
                    },
                    {
                            "value": "loop",
                            "label": "Loop"
                    }
                ],
                "default": "slide"
            },
            {
                "type": "header",
                "content": "Section padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "padding top",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "padding bottom",
                "default": 0
            }
        ],
        "blocks": [
            {
                "type": "Slide",
                "name": "Slide",
                "settings": [
                    {
                        "type": "header",
                        "content":"Media positions"
                    },
                    {
                        "type": "image_picker",
                        "id": "product-image",
                        "label": "Product image",
                        "info": "Recommended size :1360  x 633 px."
                    },
                    {
                        "type": "image_picker",
                        "id": "author-image",
                        "label": "Author image",
                        "info": "Recommended size :1360  x 633 px."
                    },
                    {
                        "type": "header",
                        "content": "Text customization"
                    },
                    {
                        "type": "richtext",
                        "id": "testimonial-text",
                        "label": "Testimonial text",
                        "default": "<p>“ Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque “</p>"
                    },
                    {
                        "type": "text",
                        "id": "author-name",
                        "label": "Author name",
                        "default":"Alex"
                    },
                    {
                        "type": "text",
                        "id": "author-title",
                        "label": "Author title",
                        "default":"clients",
                        "placeholder": "clients"
                    },
                    {
                        "type": "header",
                        "content": "background customization"
                    },
                    {
                        "type": "color_background",
                        "id": "card-bg",
                        "label": "Card background"
                    },
                    {
                        "type": "color_background",
                        "id": "card-active-bg",
                        "label": "Active card background"
                    }                             
                ]
            }
        ],
        "presets": [
            {
                "name":"week-6"
            }
        ]
    }
    


{% endschema %}