{{ 'week-6.css' | asset_url | stylesheet_tag }}
{% style %}
    .custom-padding--{{ section.id }}{
        padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
        padding-bottom: {{ section.settings.padding_bottom | divided_by: 2  }}px;
    }
    @media screen and (min-width: 749px){
        .custom-section-padding--{{ section.id }}{
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<script>
    var blocksData = [
        {% for block in section.blocks %}
            {
                "settings": {
                    "productImage": "{{ block.settings.productImage }}"
                }
            }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];

        let splide;
        let slides;
        var productImage = document.querySelector('.week-6-product img');  
        let prevSlide=false; 
        function updateProductImage(slideIndex) {
          if(prevSlide){
            prevSlide.classList.remove("card-active");
          }
            var slideElement = slides[slideIndex];
            slideElement.classList.add("card-active");
            prevSlide=slideElement;
            var productImageURL = slideElement.dataset.productImg;
            productImage.src = productImageURL;
        }
        
      
      splide.on('moved', function (newIndex) {
          if (!isNaN(newIndex) && newIndex >= 0 && newIndex < slides.length) {
              updateProductImage(newIndex);
          }
      });
    
</script>

<script src="{{ 'custom-slideshow.js' | asset_url }}" defer></script>
{% liquid
    assign type =section.settings.Slide_animation
    assign pagination = section.settings.show_pagination
    assign perpage=section.settings.perpage
    assign arrows=section.settings.show_arrows
    assign pagination=section.settings.show_pagination
    assign gap=section.settings.gap
  %}
{%- capture splide_option -%}
    {
        "type": "{{ type }}",
        "pagination": {{ pagination }},
        "perPage":{{ perpage }},
        "arrows":{{ arrows }},
        "gap":{{gap}},
        "pagination":{{ pagination }}
    }
{% endcapture %}

<div class="week-6 page-width custom-section-padding--{{ section.id }}">
    <div class="week-6-product">
       <img src="{{section.blocks[0].settings.productImage|image_url}}" alt="img" width="20" height="20">
    </div>
    <div class="week-6--content">
        <h1 class="week-6-content--heading">{{ section.settings.heading }}</h1>
        <p class="week-6-content--description">{{ section.settings.description }}</p>

        <splider-component>
            <div class="splide" data-slider-settings='{{ splide_option }}'>
                <div class="splide__track">
                  <ul class="splide__list">
                     {% for block in section.blocks %}
                        <li class="splide__slide week-6-content--block " data-product-img="{{ block.settings.productImage | image_url }}" >
                            <div>
                                <span class="week-6-content-block--testimonialText">{{ block.settings.testimonialText}}</span>
                                <div class="week-6-content-block--author">
                                    <div class="week-6-content-block-author--imageContainer">
                                        {% render 'responsive-picture',
                                            desktopImage:  block.settings.authorImage, 
                                        %} 
                                    </div> 
                                    <div class=" week-6-content-block-author--details">
                                        <h4>{{ block.settings.authorName }}</h4>
                                        <p>{{ block.settings.authorTitle }}</p>
                                    </div>                          
                                </div>
  
                            </div>
                        </li> 
                        {% style %}
                            .week-6{
                                background:{{section.settings.color-bg}};
                            }
                            .card{
                                background:{{ block.settings.card-bg}}
                            }
                            .card-active{
                                background:{{ block.settings.card-active-bg }}
                            }
                        {% endstyle %}   
                     {% endfor %}   
                  </ul>
                </div>  
            </div>      
        </splider-component>

    </div>
</div>    

{% schema %}
    {
        "name":"week-6",
        "tag":"section",
        "class":"Section",
        "settings":[
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Testimonials"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "description",
                "default": "describe"
            },
            {
                "type": "color_background",
                "id": "color-bg",
                "label": "Background"
            },
            {
                "type": "header",
                "content": "splider options"
            },
            {
                "type": "checkbox",
                "id":"auto_play",
                "label":"Enable auto play",
                "default":false
            },
            {
                "type": "checkbox",
                "id":"show_pagination",
                "label":"Show dots",
                "default":false
            },
            {
                "type": "checkbox",
                "id":"show_arrows",
                "label":"Show arrows",
                "default":false
            },
            {
                "type": "range",
                "id": "perpage",
                "min": 1,
                "max": 4,
                "step": 1,
                "label": "perpage",
                "default": 2
            },
            {
                "type": "range",
                "id": "gap",
                "min": 5,
                "max": 50,
                "step": 5,
                "label": "gap",
                "default": 10
            },
            {
                "type": "header",
                "content": "Animation options"
            },
            {
                "type": "select",
                "id": "Slide_animation",
                "label": "Slide animation",
                "options": [
                    {
                    "value": "fade",
                    "label": "Fade"
                    },
                    {
                        "value": "slide",
                        "label": "slide"
                    },
                    {
                            "value": "loop",
                            "label": "Loop"
                    }
                ],
                "default": "slide"
            },
            {
                "type": "header",
                "content": "Section padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "padding top",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "padding bottom",
                "default": 0
            }
        ],
        "blocks": [
            {
                "type": "Slide",
                "name": "Slide",
                "settings": [
                    {
                        "type": "header",
                        "content":"Media positions"
                    },
                    {
                        "type": "image_picker",
                        "id": "productImage",
                        "label": "Product image",
                        "info": "Recommended size :1360  x 633 px."
                    },
                    {
                        "type": "image_picker",
                        "id": "authorImage",
                        "label": "Author image"
                    },
                    {
                        "type": "header",
                        "content": "Text customization"
                    },
                    {
                        "type": "richtext",
                        "id": "testimonialText",
                        "label": "Testimonial text",
                        "default": "<p>“ Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque “</p>"
                    },
                    {
                        "type": "text",
                        "id": "authorName",
                        "label": "Author name",
                        "default":"Mr. John Doe"
                    },
                    {
                        "type": "text",
                        "id": "authorTitle",
                        "label": "Author title",
                        "default":"clients",
                        "placeholder": "clients"
                    },
                    {
                        "type": "header",
                        "content": "Background customization"
                    },
                    {
                        "type": "color_background",
                        "id": "card-bg",
                        "label": "Card background"
                    },
                    {
                        "type": "color_background",
                        "id": "card-active-bg",
                        "label": "Active card background"
                    }                             
                ]
            }
        ],
        "presets": [
            {
                "name":"week-6"
            }
        ]
    }
    


{% endschema %}